body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 50px auto;
    width: 600px;
  }
  
  .video-container {
    position: relative;
  }
  
  .video {
    width: 100%;
  }
  
  .controls {
    background-color: #fff;
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    justify-content: center;
    padding: 20px 0;
  }
  
  .btn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px;
  }

  .btn-record, .btn-pause, .btn-resume {
    color: red;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  
  .save-button {
    background-color: #2196F3;
    margin-left: auto;
  }
  
  .save-button:hover {
    background-color: #0c7cd5;
  }
  
  .cancel-button {
    background-color: #f44336;
  }
  
  .cancel-button:hover {
    background-color: #d11a0b;
  }
  
  .download-link {
    margin-top: 20px;
  }
  
  .icon {
    margin-right: 5px;
  }
  